<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44386" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
    <!-- Block HTTP headers for security -->
    <httpProtocol>
      <customHeaders>
        <!-- Removes the indication that response is powered by .NET -->
        <remove name="X-Powered-By"></remove>
        <!-- Blocks web page from being included in <frame>, <iframe>, <embed> or <object> -->
        <add name="X-Frame-Options" value="DENY"></add>
        <!-- How much referrer info must included in requests -->
        <add name="Referrer-Policy" value="no-referrer"></add>
        <!-- Blocks a request if the request destination is with a wrong type and MIME type combo  -->
        <add name="X-Content-Type-Options" value="nosniff "></add>
        <!-- Cross side scripting protection -->
        <add name="X-XSS-Protection" value="1; mode=block"></add>
        <!-- Set responses to no cache to let a browser not cache any items -->
        <add name="Pragma" value="no-cache"></add>
        <add name="cache-control" value="no-cache, no-store, must-revalidate"></add>
        <!-- Disable ARR for Azure. See: https://azure.microsoft.com/nl-nl/blog/disabling-arrs-instance-affinity-in-windows-azure-web-sites/ -->
        <add name="Arr-Disable-Session-Affinity" value="true"></add>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>