@model IEnumerable<InsideAirbnbApp.Models.Listings>

@{
    ViewData["Title"] = "InsideAirbnb";
}

<div id="map"></div>
@* <div id="information"></div> *@

<script>
    L.mapbox.accessToken = "@ConfigurationManager.AppSettings["mapboxaccesstoken"]";

    var map = L.mapbox.map('map')
        .setView([52.370099, 4.900271], 12)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/light-v10'));

    var marker = L.divIcon({
        className: 'marker',
        iconSize: [20, 20]
    });

    var i = 0;
    var markers = [];

    // Assigning id to marker: https://stackoverflow.com/questions/25683871/assign-id-to-marker-in-leaflet
    //FIXME: make AJAX call and iterate over in JS.
    @foreach (var item in Model)
    {
        @:markers[i] = L.marker([@item.Latitude.ToString().Insert(2, "."), @item.Longitude.ToString().Insert(1, ".")], { icon: marker }).on('click', handleMarker).addTo(map);
        @:markers[i]._icon.id = @item.Id;
    }

    function handleMarker() {
        alert('Here is the markers ID: ' + this._icon.id + '. Use it as you wish.');
    }
</script>
