<div id="mapcontrols-container">
    <div class="col-md-12">
        <div class="form-row">
            <h3><b>Filter map</b></h3>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="minPriceFilter">Minimale Prijs</label>
                <input type="number" name="minPriceFilter" id="minPriceFilter" class="form-control" value="0" />
            </div>
            <div class="form-group col-md-6">
                <label for="maxPriceFilter">Maximum Prijs</label>
                <input type="number" name="maxPriceFilter" id="maxPriceFilter" class="form-control" value="1000" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="neighbourhoodFilter">Buurt</label>
                <select class="form-control" id="neighbourhoodFilter"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="minReviewRateFilter">Minimale review score: <b id="rangeIndicator">0</b></label>
                <input type="range" name="minReviewRateFilter" id="minReviewRateFilter" class="form-control form-control-range" value="0" min="0" max="100" step="5" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="button" id="submitFilter" class="btn btn-primary mb-2">Filter</button>
            </div>
            <div class="form-group col-md-12">Totaal gevonden locaties: <b id="totalLocations">0</b></div>
            <div class="form-group col-md-12">Totaal overnachtingen: <b id="staysPerMonth">0</b></div>
            <div class="form-group col-md-12">Totaal opbrengsten: <b id="collectionPerMonth">$0</b></div>
        </div>
        <hr />
        <div class="form-row">
            <h3><b>Informatie geselecteerde locatie</b></h3>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="locationUrl">URL</label>
                <input type="text" name="locationUrl" id="locationUrl" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-12">
                <label for="locationName">Naam</label>
                <input type="text" name="locationName" id="locationName" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-12">
                <label for="locationReviewScoresRating">Beoordeling</label>
                <input type="text" name="locationReviewScoresRating" id="locationReviewScoresRating" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-12">
                <label for="locationDescription">Beschrijving</label>
                <textarea name="locationDescription" id="locationDescription" class="form-control" value="" disabled></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="locationNeighbourhood">Buurt</label>
                <input type="text" name="locationNeighbourhood" id="locationNeighbourhood" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="locationZipcode">Postcode</label>
                <input type="text" name="locationZipcode" id="locationZipcode" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="locationSquareFeet">Oppervlakte</label>
                <input type="text" name="locationSquareFeet" id="locationSquareFeet" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="locationPrice">Prijs</label>
                <input type="text" name="locationPrice" id="locationPrice" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="locationWeeklyPrice">Wekelijkse Prijs</label>
                <input type="text" name="locationWeeklyPrice" id="locationWeeklyPrice" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="locationMonthlyPrice">Maandelijkse Prijs</label>
                <input type="text" name="locationMonthlyPrice" id="locationMonthlyPrice" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="locationSecurityDeposit">Borg</label>
                <input type="text" name="locationSecurityDeposit" id="locationSecurityDeposit" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="locationCleaningFee">Schoonmaakkosten</label>
                <input type="text" name="locationCleaningFee" id="locationCleaningFee" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="locationMinimumNights">Minimum aantal nachten</label>
                <input type="text" name="locationMinimumNights" id="locationMinimumNights" class="form-control" value="" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="locationMaximumNights">Maximum aantal nachten</label>
                <input type="text" name="locationCleaningFee" id="locationMaximumNights" class="form-control" value="" disabled />
            </div>
        </div>
    </div>
</div>