<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InsideAirbnbApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="position: fixed;width: 100%;z-index: 1;">
            <div class="container" style ="margin-left: 0; margin-right: 0; max-width: 100%;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">InsideAirbnbApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <partial name="_loginPartial" />
            </div>
        </nav>
    </header>
    <div class="container" style ="margin-left: 0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <mini-profiler />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>mapboxgl.accessToken = "@ConfigurationManager.AppSettings["mapboxaccesstoken"]";</script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/map.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
